= link_to "Log out", session_path(current_user.id), method: :delete, class: 'button is-light'
%h1.title
  = @user.name
  のページ
.columns
  .card
    .card-content
      %p.title.is-4 メールアドレス
      %p.content= @user.email
